/********************  Fonts  *********************/
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

/********************  CSS Reset  *********************/
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

textarea {
  white-space: revert;
}

:root {
  /* set font-size to base-10 from base-16 */
  font-size: 62.5%;

  /********************  Variables  *********************/
  --main-width-mobile: 375px;
  --main-width-desktop: 1440px;
  --card-width-mobile: 325px;
  --card-width-desktop: 1100px;

  --font-family-base: "Kumbh Sans", sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --color-white: hsl(0, 0%, 100%);
  --color-primary-text: hsl(238, 29%, 16%);
  --color-secondary-text: hsl(237, 12%, 33%);
  --color-tertiary-text: hsl(240, 6%, 50%);
  --color-arrow: hsl(14, 88%, 65%);
  --color-divider: hsl(240, 5%, 91%);
  --color-bg-gradient-top: hsl(273, 75%, 66%);
  --color-bg-gradient-bottom: hsl(240, 73%, 65%);

  --card-box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.33);
  --card-border-radius: 2rem;
}

/********************  Begin Mobile  *********************/
body {
  font-family: var(--font-family-base);
  font-size: 1.2rem;
  font-weight: var(--font-weight-regular);
  background: linear-gradient(
      var(--color-bg-gradient-top),
      var(--color-bg-gradient-bottom)
    )
    no-repeat;
}
main {
  max-width: var(--card-width-mobile);
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-rows: max-content;
}

/********************  TEMPORARY DESIGN STYLES  *********************/
.mobile-box {
  display: none;
  margin: 0 auto;
  width: var(--card-width-mobile);
  background-color: black;
  color: greenyellow;
  text-align: center;
}
.desktop-box {
  display: none;
  margin: 0 auto;
  width: var(--card-width-mobile);
  background-color: black;
}

/********************  Card  *********************/
.card {
  width: 100%;
  padding: 2.5rem;
  background-color: var(--color-white);
  border-radius: var(--card-border-radius);
  box-shadow: var(--card-box-shadow);
  margin-top: 150px;
  margin-left: min(10px, 1ovw);
  margin-right: min(10px, 10vw);
  /* margin-top: min(150px, 45vw); */
}

/********************  Begin Image   *********************/
.image-container {
  display: grid;
  grid-template-columns: 1fr;
  line-height: 0;
  height: 100px;
  /* height: min(100px, 20vw); */
  width: auto;
  padding: 0 auto;
}

.image-woman {
  transform: translateY(-133px);
  /* transform: translateY(max(-133px, -42vw)); */
  /* transform: translateY(-73%);  */
  width: 235px;
  height: auto;
  justify-self: center;
  z-index: 2;
}

.image-woman-mobile {
  display: content;
}
.image-woman-desktop {
  display: none;
}

.image-shadow-mobile {
  transform: translateY(-205px);
  /* transform: translateY(max(-205px, -65vw)); */
  width: 235px;
  height: auto;
  justify-self: center;

  z-index: 1;
  display: content;
}

.image-shadow-desktop {
  transform: translateY(-210px);
  width: 235px;
  height: auto;
  justify-self: center;
  z-index: 1;
  display: none;
}

/********************  Begin FAQ Content  *********************/
.content-container {
  text-align: left;
  margin-bottom: 1.7em;
  max-width: 100%;
}

.card h1 {
  font-size: 2.6em;
  font-weight: var(--font-weight-bold);
  color: var(--color-primary-text);
  text-align: center;
  margin: 0.2em 0 0.5em 0;
}

.faqs {
  font-weight: var(--font-weight-regular);
  line-height: 1.5;
}

.faq {
  padding: 1em 0;
  border-bottom: 1px solid var(--color-divider);
}

.faq-question {
  display: grid;
  grid-template-columns: auto 15px;
  gap: 0 0.5em;
  margin-top: 0.1em;
  margin-bottom: 0.5em;
  font-size: 1.3rem;
}

.faq-question p {
  justify-self: start;
  align-self: start;
  width: 100%;
  color: var(--color-secondary-text);
}

.active p {
  font-weight: var(--font-weight-bold);
  color: var(--color-primary-text);
}

.faq-question img {
  justify-self: end;
  align-self: start;
  transition: 0.4s;
}

.active img {
  transform: rotate(180deg);
}

.faq-answer {
  max-width: 100%;
  color: var(--color-tertiary-text);
  max-height: 0;
  transition: max-height 0.2s ease-out;
  display: none;
}

.faq-answer p {
  margin-right: 15px;
}

.show-answer {
  display: contents;
}
/********************  END Mobile Styles  *********************/

/********************  Watch Styles  *********************/
@media screen and (max-width: 280px) {
  main {
    margin: 0 5px 0 5px;
  }
  .card {
    width: 100%;
    padding: 1rem;
    margin-top: min(150px, 45vw);
    border-radius: 1rem;
  }
  .image-container {
    height: min(100px, 20vw);
    padding: 0 auto;
  }
  .image-woman {
    transform: translateY(-70%);
  }
  .image-woman-mobile {
    display: content;
  }
  .image-woman-desktop {
    display: none;
  }
  .image-shadow-mobile {
    transform: translateY(min(-210%, -69vw));
  }
  .card h1 {
    font-size: 10vw;
    margin: 0.5em 0 0.2em 0;
  }
}
/********************  END Watch Styles  *********************/

/********************  Begin Desktop Styles  *********************/
@media screen and (min-width: 1200px) {
  body {
    margin: 0;
  }
}
/********************  END Desktop Styles  *********************/
